#header {
    background-color: transparent;
    margin-top: 30px;
    .logo {
        width: 20%;
    }

    .nav-menu {
        width: 80%;

        ul {
            li {
                a {
                    padding: 5px 25px;
                    color: rgb(0, 0, 0);
                    text-decoration: none;
                    display: block;
                    font-family: $font;
                    font-size: 16px;
                    font-weight: 500;
                    // letter-spacing: 1px;

                
                }

                &:last-child {
                    display: block;
                    background-color: $crimson;
                    color: $white;
                    border-radius: 50px;
                    padding: 5px 15px;
                    margin-left: 40px;
                    transition: 0.2s ease-in-out;

                    &:hover{
                        background-color: $blue;

                    }

                }
            } 
        }
    }

    .nav-icon{
        display: none;
    }
}




@media (max-width:576px) {
    #header{
       margin-top: 20px; 

       .logo{
           width: 20%;
       }

       .nav-icon{
           display: block;

           a{
               text-decoration: none;
               color: black;

               i{
                font-size: 25px;
                margin: 10px 15px;
 
            }
           }

    
       }

       .nav-menu{
           display: none;
           width: 85%;
           text-align: end;


          
       }
    }
}